// Left-aligns the side bar
.side-bar {
  @include mq(lg) {
    width: calc((70% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
  }
}

// Makes the body text color black in light mode.
[data-theme="light"] .main-content p,
[data-theme="light"] .main-content li,
[data-theme="light"] .main-content td {
  color: #000000 !important;
}

// Makes the "Important" callouts match the color of links for light and dark mode.
// Colors might not be super accurate since i just used the Firefox eye dropper tool.
[data-theme="light"] p.important,
[data-theme="light"] blockquote.important {
  border-left-color: #7e62ee !important;
  border-color: #7e62ee !important;
}

[data-theme="light"] p.important::before,
[data-theme="light"] blockquote.important::before {
  color: #7e62ee !important;
}

[data-theme="dark"] p.important,
[data-theme="dark"] blockquote.important {
  border-left-color: #5a9af1 !important;
  border-color: #5a9af1 !important;
}

[data-theme="dark"] p.important::before,
[data-theme="dark"] blockquote.important::before {
  color: #5a9af1 !important;
}

// TODO (Maybe):
// I want to increase the contrast of the codeblocks in light mode to make them stand out a little more, 
// but I can't figure out how to do it without it looking really messed up