// Left-aligns the side bar
.side-bar {
  @include mq(lg) {
    width: calc((70% - #{$nav-width + $content-width}) / 2 + #{$nav-width});
  }
}

// Makes the body text color black in light mode.
[data-theme="light"] .main-content p,
[data-theme="light"] .main-content li,
[data-theme="light"] .main-content td {
  color: #323232 !important;
}

// TODO (Maybe):
// I want to increase the contrast of the codeblocks in light mode to make them stand out a little more, 
// but I can't figure out how to do it without it looking really messed up

// Changes the colors of the callout boxes to make them contrast with the background in both light and dark modes.
// $callout-themes: (
//   "highlight": (light: #ffae00, dark: #ffc641),
//   "important": (light: #005dc7, dark: #58a6ff),
//   "new":       (light: #00b734, dark: #3fb950),
//   "note":      (light: #4800cd, dark: #a25fff),
//   "warning":   (light: #e60110, dark: #ff3b48)
// );

// @each $name, $colors in $callout-themes {
  
//   [data-theme="light"] p.#{$name},
//   [data-theme="light"] blockquote.#{$name} {
//     border-color: map-get($colors, light) !important;
//     border-left-color: map-get($colors, light) !important;
    
//     &::before {
//       color: map-get($colors, light) !important;
//     }
//   }

//   [data-theme="dark"] p.#{$name},
//   [data-theme="dark"] blockquote.#{$name} {
//     border-color: map-get($colors, dark) !important;
//     border-left-color: map-get($colors, dark) !important;
    
//     &::before {
//       color: map-get($colors, dark) !important;
//     }
//   }
// }

// Mermaid Diagram Edge Labels Light Mode
[data-theme="light"] .edgeLabel {
  background-color: #ececff !important;
  color: #333333 !important;
  font-family: Verdana, sans-serif !important;
}

[data-theme="light"] .edgeLabel span {
  color: #333333 !important;
  background-color: #ececff !important;
  font-family: Verdana, sans-serif !important;
}

// Mermaid Diagram Edge Labels Dark Mode
[data-theme="dark"] .edgeLabel {
  background-color: #27262b !important;
  color: white !important;
  font-family: Verdana, sans-serif !important;
}

[data-theme="dark"] .edgeLabel span {
  color: white !important;
  background-color: #27262b !important;
  font-family: Verdana, sans-serif !important;
}

// Mermaid Diagram Node Labels
.language-mermaid span.nodeLabel {
  font-family: Verdana, sans-serif !important;
}