$new-yellow-000: #ffae00;
$new-yellow-300: #ffc641;

$new-blue-000: #005dc7;
$new-blue-300: #58a6ff;

$new-green-000: #00b734;
$new-green-300: #3fb950;

$new-purple-000: #4800cd;
$new-purple-300: #a25fff;

$new-red-000: #e60110;
$new-red-300: #ff3b48;